<nav>
    <div class="site-title">
      <a href="/"><h1>Douban</h1></a>
      <p>Douban -- Not just movie reviews😼</p>
    </div>
    <ul>
      <li><a href="/movie">Movie</a></li>
      <li><a href="/music">Music</a></li>
      <li><a href="/reading">Reading</a></li>
      <li><a href="/groups">Groups</a></li>
      <li><a href="/about">About us</a></li>
    </ul>
  </nav>