<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-review content">
    <form action="/movie" method="POST">
      <label for="title">Movie Name:</label>
      <input type="text" id="title" name="title" required>
      <label for="snippet">Reviews snippet:</label>
      <input type="text" id="snippet" name="snippet" required>
      <label for="body">Reviews body:</label>
      <textarea id="body" name="body" required></textarea>
      <button>Submit</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>