<html lang="en">

<%- include("./partials/head.ejs") %>


<body>

<%- include("./partials/nav.ejs") %>

<div class="homepage content">
    <h2>Douban Home</h2>

</div>
<%- include("./partials/footer.ejs") %>
</body>

</html>